Repository cisagov/skeleton-docker, pull requests merged in 2021-06, with the labels that each got.

#53 Skip CodeQL Workflow for Dependabot Branches on push Events
  .github/workflows/codeql-analysis.yml
Labels: blocked, bug, improvement

#55 Add semver to Development Requirements File
  requirements-dev.txt
Labels: blocked, bug

#57 Add the tag.sh Script
  tag.sh
Labels: blocked, improvement

#49 Enable container publication to GitHub Container Registry.
  .github/workflows/build.yml
Labels: github_actions, improvement

#51 Add better build instructions to the README.
  README.md
  docker-compose.yml
Labels: documentation, improvement

#62 Update the README to reference the latest version of the Docker container
  bump_version.sh
Labels: improvement

#61 Add a section to the README for ports
  README.md
Labels: documentation
