Repository cisagov/skeleton-docker, pull requests merged in 2021-07, with the labels that each got.

#60 Standardize the Layout of the Lineage Configuration File
  .github/lineage.yml
Labels: blocked, improvement

#63 Update the Pin for actions/github-script to v4
  .github/workflows/build.yml
Labels: blocked, improvement, upstream update

#65 Use preferred capitalization for Docker and Docker Hub
  .github/workflows/build.yml
  README.md
  push_readme.sh
  tests/conftest.py
Labels: blocked, documentation
