Repository cisagov/skeleton-docker, pull requests merged in 2022-11, with the labels that each got.

#138 Update the version of the second `bandit` hook
  .pre-commit-config.yaml
Labels: bug

#137 Update the CodeQL configuration
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
Labels: blocked, improvement

#115 Update some outdated items in the project
  .lgtm.yml
  .pre-commit-config.yaml
  README.md
Labels: improvement

#122 Fix overly eager sed commands
  bump_version.sh
Labels: bug, blocked

#135 Improve Dockerfile
  Dockerfile
Labels: blocked, improvement

#139 Remove LGTM from the repository
  .lgtm.yml
  README.md
Labels: improvement
