Repository cisagov/skeleton-docker, pull requests merged in 2023-12, with the labels that each got.

#178 Add a diagnostics job to the CodeQL workflow
  .github/workflows/codeql-analysis.yml
Labels: improvement, hacktoberfest-accepted, github-actions, kraken 🐙, security

#168 Modify comment referencing "stopped" parameter
  tests/container_test.py
Labels: documentation, kraken 🐙

#169 Enhance the functionality of the `bump_version.sh` script
  bump_version.sh
Labels: improvement, kraken 🐙
