Repository cisagov/skeleton-docker, pull requests merged in 2023-02, with the labels that each got.

#144 Add package write permission to workflow
  .github/workflows/build.yml
Labels: bug, github-actions, kraken 🐙

#143 Update wheel along with pip and setuptools
  Dockerfile
Labels: improvement, kraken 🐙

#142 Specify pip3
  Dockerfile
Labels: improvement, kraken 🐙

#141 Specify the default group to run under in the Dockerfile
  Dockerfile
Labels: improvement, kraken 🐙

#154 Specify pip3 in the file where it got blown away by a rebase
  Dockerfile
Labels: improvement
