Repository cisagov/skeleton-docker, pull requests merged in 2025-02, with the labels that each got.

#210 Update Docker Compose file
  README.md
  compose.yml
Labels: documentation, improvement, kraken 🐙

#211 Remove functionality to create special buildx Dockerfile
  .github/workflows/build.yml
  buildx-dockerfile.sh
Labels: improvement, github-actions, kraken 🐙

#208 Add a comment explaining why we pin `semver`
  requirements-dev.txt
Labels: documentation, kraken 🐙

#213 Use a GitHub Action to update the Docker Hub description
  .github/workflows/build.yml
  push_readme.sh
Labels: improvement, github-actions, kraken 🐙, security

#214 Correct input to the `peter-evans/dockerhub-description` Action
  .github/workflows/build.yml
Labels: bug, github-actions

#215 Update image dependencies
  Dockerfile
  src/Pipfile
  src/Pipfile.lock
Labels: version bump, dependencies, docker

#216 Use the `semver` package to parse the log version in testing
  requirements-dev.txt
  requirements-test.txt
  tests/container_test.py
Labels: improvement, kraken 🐙, test

#217 Use `docker/build-push-action` default behavior
  .github/workflows/build.yml
Labels: improvement, github-actions, kraken 🐙

#218 Add a missing ignore for prettier
  .prettierignore
Labels: bug, kraken 🐙
